/*--global--*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none; 
}

html{
	scroll-behavior: smooth;
}

/*--adjusts the menu section to the right--*/
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

/*--navigation bar--*/
.navbar{ 
	position: fixed;
	width: 100%;
	z-index: 999;
	padding: 30px 0;
	font-family: 'Ubuntu', sans-serif;
	transition: all 0.3s ease;
}

.navbar.sticky{
	padding: 15px 0px;
	background: rgb(255,69,0);
}


		/*--navigation--*/
.navbar .max-width{
	/*--brings the menu section to the top beside portfolio--*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}


/*--styling the logo i.e. portfolio heading-- */
.navbar .logo a{
font-size: 35px;
color: #fff;
font-weight: 600px;
}

.navbar .logo a span{
	color: rgb(255,69,0);
	transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
	color: #fff;
}

/*--styling the navigation menu--*/
.navbar .menu li{
	list-style: none;
	/*--aligns the menu horizontally--*/
	display: inline-block;

}



/*--navbar menu's links i.e. home, about, services, skills, etc--*/
.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover{
	color: rgba(255,69,0,0.8);
	
}

.navbar.sticky .menu li a:hover{
	color: rgb(0,0,0);
}

/*--menu btn--*/
.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}






/*home section styling*/
.home{
	display: flex;
	background-color: rgb(0,0,0);
	height: 100vh;
	-webkit-background-size: cover;
	color: #fff;
	min-height: 500px;
	font-size: 2rem;
	font-family: 'Ubuntu', sans-serif;
	padding-top: 75px;
}

.home .max-width{
	margin: auto 0 auto 40px;
}

.home .home-content .text-1{
font-size: 40px;
}

.home .home-content .text-2{
	font-size: 75px;
	font-weight: 600px;
	margin-left: -3px;
}

.home .home-content .text-3{
	font-size: 40px;
	margin: 5px 0;
}

.home .home-content .text-3 span{
     color: rgba(255,69,0,0.8);	
     font-weight: 500;
}

.home .home-content a{
	display: inline-block;
	background: rgba(255,69,0,0.8);	
	color: rgba(0,0,0);
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgba(255,69,0,0.8); 
	transition: all 0.3s ease;
}

.home .home-content a:hover{
	color: rgba(255,69,0,0.8);
	background: none;

}

.home .home-content .image img{
	height: 490px;
	width: 570px;
	position: absolute;
	right: 50px;
	top: 100px;
	border-radius: 5px;

}

/*about section*/
section{
	padding: 100px 0;
}
.about{
	font-family: 'Poppins', sans-serif;
	padding-bottom: 20px;
	padding-top: 10px;
}

.about .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.about .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}

.about .title::after{
	content: "Who I am";
    position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: rgba(255,69,0,0.8);
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}

.about .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about .about-content .column-left{
	width: 45%;
}

.about .about-content .column-left img{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 8px;
}

.about .about-content .column-right{
	width: 55%;
}

.about .about-content .column-right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .column-right .text span{
	color: rgba(255,69,0,0.8);
}

.about .about-content .column-right p{
	text-align: justify;
}

.about .about-content .column-right a{
	display: inline-block;
	background: rgba(255,69,0,0.8);
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgba(255,69,0,0.8);
	transition: all 0.3s ease;
}

.about .about-content .column-right a:hover{
	color: rgba(255,69,0,0.8);
	background: black;
}

/*skill section*/

.skills{
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.skills .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	padding-top: 50px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family:'Ubuntu', sans-serif;  
}

.skills .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 307px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}

.skills .title::after{
	content: "What I know";
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: rgba(255,69,0,0.8);
	padding: 5px;
	background: rgb(0,0,0);
	transform: translateX(-50%);
}



.skills .skills-content .column-left .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	color: rgba(255,69,0,0.8);
}

.skills .skills-content .column-left p{
	text-align: justify;
}


/*read more section*/
.skills .skills-content .column-left a{
	display: inline-block;
	background: rgba(255,69,0,0.8);
	color: rgb(0,0,0);
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgba(255,69,0,0.8);
	transition: all 0.3s ease;
}

.skills .skills-content .column-left a:hover{
	color: rgba(255,69,0,0.8);
	background: #111;
}

.skills .skills-content .column-right .bars{
	margin-bottom: 15px;
}

.skills .skills-content .column-right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
	position: 
}

.skills .skills-content .column-right span{
	font-weight: 500;
	font-size: 18px;
}

/*creates the line for slider in %*/
.skills .skills-content .column-right .line{
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}

.skills .skills-content .column-right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255,69,0,0.9);

}


.skills .skills-content .column-right .html::before{
    width: 90%;
}

.skills .skills-content .column-right .css::before{
    width: 75%;
}

.skills .skills-content .column-right .js::before{
    width: 60%;
}

.skills .skills-content .column-right .java::before{
    width: 70%;
}

.skills .skills-content .column-right .c::before{
    width: 70%;
}

.skills .skills-content .column-right .os::before{
    width: 80%;
}

.skills .skills-content .column-right .cn::before{
    width: 80%;
}

.skills .skills-content .column-right .sql::before{
    width: 50%;
}

.skills .skills-content .column-right .mongodb::before{
    width: 50%;
}



/*Project section*/
.projects{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
	color: rgb(0,0,0); 
	padding-top: 10px;
	padding-bottom: 10px;
}

.projects .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	padding-top: 50px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family:'Ubuntu', sans-serif;  
}

.projects .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 320px;
	height: 3px;
	background: rgb(0,0,0);
	transform: translateX(-50%);
}

.projects .title::after{
	content: "What I have done";
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: rgba(255,69,0,0.8);
	padding: 5px;
	background: #fff;
	transform: translateX(-50%);
}

.projects .projects-content .column-left .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	color: rgba(255,69,0,0.8);
}

.projects .projects-content .column-left p{
	text-align: justify;
}

.projects .projects-content .column-left a{
	display: inline-block;
	background: rgba(255,69,0,0.8);
	color: rgb(0,0,0);
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgba(255,69,0,0.8);
	transition: all 0.3s ease;
}

.projects .projects-content .column-left a:hover{
	color: rgba(255,69,0,0.8);
	background: #111;
}


/*teams section*/

.teams{
	font-family: 'Poppins', sans-serif;
	background-color: rgb(0,0,0);
	color: #fff; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.teams .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	padding-top: 50px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family:'Ubuntu', sans-serif;  
}

.teams .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 400px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}

.teams .title::after{
	content: "Who all working";
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: rgba(255,69,0,0.8);
	padding: 5px;
	background: rgba(0,0,0);
	transform: translateX(-50%);
}

.teams .carousel .card{
	background: #222;
    padding: 30px 45px;
    border-radius: 6px;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{
	background: rgba(255,69,0,0.8);
}

.teams .carousel .card .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{
	transform: scale(1.05);
}

.teams .carousel .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}


.teams .carousel .card img{
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid rgba(255,69,0,0.8);
	transition: all 0.3s ease;
}

.teams .carousel .card:hover img{
	border-color: #fff;
}

.owl-dots{
	text-align: center;
	margin-top: 20px;
}

.owl-dot{
	height: 13px;
	width: 13px;
	outline: none!important;
	border-radius: 50%;
	border: 2px solid rgba(255,69,0,0.8)!important;
}

.owl-dot.active{
	width: 35px;
	border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover{
	background: rgba(255,69,0,0.8)!important;
}


/*certifications and accomplishments*/
.awards{
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white; 
	padding-top: 10px;
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.awards .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	padding-top: 50px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family:'Ubuntu', sans-serif;  
}

.awards .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 330px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}

.awards .title::after{
	content: "what I'm certified in";
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: rgba(255,69,0,0.7);
	padding: 5px;
	background: rgb(0,0,0);
	transform: translateX(-50%);
}

.awards .awards-content .card{
	width: calc(50% - 10px);
	background: #222;
	text-align: center;
	border-radius: 6px;
	padding: 20px 25px;
	cursor: pointer;
	display: inline-block;
}

.awards .awards-content .card:hover{
	background: rgb(105,105,105);
}

.awards .awards-content .card .box{
	transition: all 0.3s ease;
}

.awards .awards-content .card:hover .box{
	transform: scale(1.05);
}

.awards .awards-content .card i{
	font-size: 50px;
	color: rgba(255,69,0,0.8);
	transition: color 0.3s ease;
}

.awards .awards-content .card:hover i{
	background: #fff; 
}


.awards .awards-content .card .text{
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

.awards .awards-content p{
	text-align: justify;
}

.awards .awards-content a{
	display: inline-block;
	background: #fff;
	color: rgb(0,0,0);
	font-size: 18px;
	font-weight: 500;
	padding: 8px 16px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid rgba(255,69,0,0.8);
	transition: all 0.3s ease;
}

.awards .awards-content a:hover{
	color: rgba(255,69,0,0.8);
	background: #111;
}







/*contact section*/
.contact{
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white; 
	padding-top: 10px;
	padding-bottom: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.contact .title{
	position: relative;
	text-align: center;
	font-size: 60px;
	font-weight: 500;
	padding-top: 50px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family:'Ubuntu', sans-serif;  
}

.contact .title::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 330px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}

.contact .title::after{
	content: "Get in touch";
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: rgba(255,69,0,0.7);
	padding: 5px;
	background: rgb(0,0,0);
	transform: translateX(-50%);
}

.contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.contact .contact-content .column{
	width: calc(50% - 30px);
}

.contact .contact-content .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}


.contact .contact-content .left p{
	text-align: justify;
}

.contact .contact-content .left .icons{
	margin: 10px 0;
}

.contact .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}

.contact .contact-content .row .info{
	margin-left: 30px;
}

.contact .contact-content .row i{
	font-size: 25px;
	color: rgba(255,69,0,0.7);
}

.contact .contact-content .info .head{
	font-weight: 500;
}

.contact .contact-content .info .sub-title{
	color: #696969;
	font-weight: 200;
}

.contact .right form .fields{
	display: flex;

}

.contact .right form .field,
.contact .right form .fields .field{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}

.contact .right form .textarea{
	height:80px;
	width: 100%; 
}

.contact .right form .name{
	margin-right: 10px;
}

.contact .right form .email{
	margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea{
	padding-top: 10px;
	resize: none;

}

.contact .right form .button{
	height: 47px;
	width: 100%;
}




/*send message section*/
.contact .right form .button button{
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255,69,0,0.7);
	background: rgba(255,69,0,0.8);
	color: rgb(0,0,0);
	font-size: 20px;
	font-weight: 525;
	border-radius: 6px;
	cursor: pointer;
	transition: all 0.3s ease;
	padding-left: 20rem;

}
.contact .right form .button button:hover{
	color: rgba(255,69,0,0.7);
	background: rgb(0,0,0);
}

/*footer section*/
footer{
	background: #fff;
	padding: 30px 23px;
	text-align: center;
	color: rgb(0,0,0);
}

footer span a{
	color: rgba(255,69,0,0.7);
	text-decoration: none;
}

footer span a:hover{
	text-decoration: underline;
}







/*responsive media query*/
@media (max-width: 1300px){
	.home .max-width{
		margin-left: 0px;
	}
}

@media (max-width: 1104px){
	.about .about-content .column-left img{
	height: 350px;
	width: 350px;
	
}
}
	
}
	@media (max-width: 991px){
		.max-width{
			padding: 0 50px;
		}

	}

@media (max-width: 947px){
    .max-width{
	padding: 0 50px;	
   }

   .menu-btn{
	display: block;
	z-index: 999;
   }

   .menu-btn i.active:before{
   	content: "\f00d";
   }

    .navbar .menu{
   	position: fixed;
   	height: 100vh;
   	width: 100%;
   	left: -100%;
   	top: 0;
   	background: #111; 
   	text-align: center;
   	padding-top: 80px; 
   	transition: all 0.3s ease;
   }

   .navbar .menu.active{
   	left: 0;

   }
    .navbar .menu .li{
    	display: block;
    }
    .navbar .menu .li a{
    	display: inline-block;
    	margin: 20px 0;
    	font-size: 25px;
    }

    .home .home-content .text-2{
    	font-size: 70px;
    }

    .home .home-content.text-3{
    	font-size: 35px;
    }

    .home .home-content a{
    	font-size: 23px;
    	padding: 10px 30px;
    }

    .max-width{
    	max-width: 800px;
    	}

    .about .about-content .column-left .column-right{
    	width: 100%;
       
    }

    .about .about-content .column-left{
    	display: flex;
    	justify-content:center;
    	margin: 0 auto 60px;
    	}

    	.about .about-content .column-right{
    		flex: 100%;
    	}

    	.skills .skills-content .column-left .column-right{
    		width: 100%;
    		margin-bottom: 35px;
    	}
    }

@media (max-width: 690px){
	.max-width{
		padding: 0 23px;
	}

	.home .home-content .text-2{
			font-size: 60px;
	}

	.home .home-content .text-3{
			font-size: 32px;
	}

	.home .home-content a{
		font-size: 20px;

	}
    }


	@media (max-width: 500px){
	
	.home .home-content .text-2{
			font-size: 50px;
	}

	.home .home-content .text-3{
			font-size: 27px;
	}
    }